/*#variant-container {
    background-image: url("wallpaper.jpg");
    background-size: 100%;
}*/
body.accessible #main-content, body.dark #main-content {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(220, 220, 220, 1) !important;
}

body.accessible #main-content>div, body.accessible body, body.accessible html, body.dark #main-content>div, body.dark body, body.dark html {
    background-color: rgba(26,26,26,0.4) !important;
    color: rgba(220, 220, 220, 1) !important;
}


body {
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.Card:has(.about-container) {
    visibility: hidden;
}

.RatingsChart .chart text {
    fill: rgba(220, 220, 220, 1) !important;
}

@font-face {
    font-family: FoxJumps;
    src: url("FoxJumps.otf") format("opentype");
}

.Player[data-player-id="1197366"]:first-child {
    color: orange;
    font-family: FoxJumps;
    font-size: 22pt;
}
